/* 菜单按钮 */
body{
	position:relative;
	width: 100%;
}
#all{
	transition: all .3s linear;
}
#bgzzc{
	width:100%;
	height:2330px;
	z-index:40;
	background:rgba(0,0,0,0.5);
	display: none;
	position: absolute;
	transition: none;

}
#left-menu{
	width:74px;
	height:66px;
	background:black;
	z-index:95;
	top:45%;
    position: fixed;
}
#sub-icons{
	    background: url(../images/icons-s38dcd512ab.png) 0 -572px no-repeat;
		width: 28px;
		height: 18px;
		position: absolute;
		top: 23px;
		left: 18px;
		z-index: 2;
		content: "";
		display: block;
}
#active-menu{
	width: 0px;
	height: 60px;
	background:#fff;
	position: absolute;
	top:3px;
	left:1px;
	z-index:3;
	transition:all .3s linear;
	}

 #left-menu:hover #active-menu{
	width:68px;
	
} 
#active-icons{
	background: url(../images/icons-s38dcd512ab.png) 0 -549px no-repeat;
	width:28px;
	height:18px;
	content: "";
	display: block;
	position:absolute;
	top: 23px;
	left: 18px;
	z-index: 4;
}

/* 主体 */
#wrap{
	margin-bottom: 150px;
}
#wrap>.title{
	position:absolute;
  top:33px;
  left:47px;  
}
#wrap>.title span{
	font-weight:bold;
  position:relative;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3.3px;
}
#wrap>.selection{
	padding-top: 100px;
    margin: 0 117px 55px;
	position:relative;
}

#wrap>.selection>.selection-project{
	border: 1px solid #ebebeb;
  	padding: 0;
	overflow: hidden;
}
#wrap>.selection>.selection-project div div .zhezhao{
	transition:all .3s linear;
}
#wrap>.selection>.selection-project div{
	transition:margin-top 1s linear;
}


#wrap>.selection>.selection-project>div.floor img{
	margin:0 30px;
	width: 304px;
	height: 200px;
}


#wrap>.selection>.selection-project>div.floor:nth-child(1){
	margin-top: 50px;
	opacity: 1;
}
#wrap>.selection>.selection-project>div.floor:nth-child(2){
	margin-top: 90px;
	opacity: 0.7;
}
#wrap>.selection>.selection-project>div.floor:last-child{
	margin-bottom: 50px;

}
#wrap>.selection>.selection-project>div.floor{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 200px;
    opacity: 0;

}
.arrow-icon{
	border:2px solid black;
	height:34px;
	width: 34px;
	border-radius:20px;
	position: absolute;
	cursor: pointer;
	transition: all .3s linear;

}
#iconBottomCenter{
	top:-17px;
	left:50%;
}
.arrow-icon:hover{
	background: #000;
}
.selection6{
	text-align: center;
	padding-bottom: 55px;
	position: relative;
}
#gotop{
	left:-50px;
	top:-17px;
}
#gotop span{
	position: absolute;
	width: 31px;
	height: 15px;
	left: -4px;
	top:8px;
	background:url(../images/icons-s38dcd512ab.png) 14px -220px no-repeat;
}
#gotop:hover span{
	background:url(../images/icons-s38dcd512ab.png) 14px -233px no-repeat;
}

.selection6 a{

	position: absolute;
	top: 200px;
	left: -20px;
	font-weight: bold;
	font-size: 15px;
	color: black;
	cursor: pointer;
}
.zhezhao{
	border: 3px solid #000;
	background: #fff;
	position: absolute;
	width: 0;
	height: 200px;
	padding: 0;
	margin: 0 30px;
	opacity: 0;
	transition:all .3s linear;

}
.zhezhao>p{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 96px;
	position: relative;
	color: #000;
	left: 50px;
	width: 100px;
	margin: 0;
	padding: 0;
}
.zhezhao>hr{
	position: absolute;
	border: 2px solid black;
	width: 100px;
	left: 50px;
	top: 70px;
}
.floor>div:hover .zhezhao{
	width: 300px;
	opacity: 1;
}
#selection-title{

	font-size: 24px;
	color: #000;
	line-height: 50px;
	padding-bottom: 10px;
	padding-top:75px;
}
#selection-btn{
	margin-left:43% ;
	width: 205px;
	height: 61px;
	left:150px;
	border: 3px solid #000;
	background: #000;
	color: #fff;
	line-height: 60px;
	font-size: 14px;
	text-transform: uppercase;

}
#selection-btn-active{
	background:url("../images/20180720200901.png") ;
	border: 3px solid black;
	color: #000;
	line-height: 60px;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	width: 0;
	height: 61px;
	top:134.9px;
	margin-left:-3px;
	transition: all .3s linear;
}
#selection-btn:hover #selection-btn-active{
	width:205px;
}
#toTop{
	transition:all 5s linear ;
}
.hiddenyc{
	overflow: hidden;
	height: 100%;
}

/*轮播图*/
#pic{
	display: block;
	position: absolute;
	height:340px;
	left:370px;
	padding-top:50px;
	width:600px;
}

#pic>li {
	list-style: none;
	position: absolute;
	transition:all .3s linear;
}
#box {
	width:100%;
	margin: 20px auto;
	position:fixed;
	height: 440px;
	margin-top: 158px;
	z-index: 999;
	display: none;
	background: rgba(255,255,255,0.9);
}
#box img{
	width: 600px;
	height:340px;
}
#leftArrow{
	position: absolute;
	left: 60px;
	z-index: 99;
	top: 240px;
	margin-top: -72.5px;
}
#rightArrow{
	position: absolute;
	z-index: 99;
	right:60px;
	top: 240px;
	margin-top: -72.5px;
}
#leftArrow img{
	height:145px;
	width: 100px;
}
#rightArrow img{
	height:145px;
	width: 100px;
}
